<div class="container">
  <div class="row justify-content-center">
    <div class="col col-6">
      <div class="card mt-5">
        <div class="card-body" *ngFor="let post of posts">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
          <p>{{ post.tags }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <h3 class="text-center mt-5">Potrebbero piacerti questi post</h3>
    <div class="col col-3">
      <div class="card mt-5">
        <div class="card-body" *ngFor="let post of posts">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
          <p>{{ post.tags }}</p>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="card mt-5">
        <div class="card-body" *ngFor="let post of posts">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
          <p>{{ post.tags }}</p>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="card mt-5">
        <div class="card-body" *ngFor="let post of posts">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
          <p>{{ post.tags }}</p>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="card mt-5">
        <div class="card-body" *ngFor="let post of posts">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
          <p>{{ post.tags }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
